*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: aliceblue;
    
}
html{
    scroll-behavior: smooth;
    
}
body{
    background-color:rgb(20, 18, 18);
    
}

.right-side{
    display: block;
}
.right-side.right-side-sc{display: none;}





#header{
    height: 100vh;
    width: 100%;
    background-image: url(./assert/Main_image1.png);
    background-repeat: no-repeat;
    background-position-x:80% ;
   
    
}
/* .img_logo{width: 300px;} */
.img_logo1{display: none;}
.img_logo:hover{
transform: scale(0.9);
}

.container{
    padding: 10px 20px 0 20px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 10px;

   
}
.list{
   padding-right: 150px;
}
nav ul li{
display: inline-block;
margin: 10px 30px ;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    width:100%
    
}

nav ul li a {
    cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:rgb(22, 21, 21);
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #000000;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid red;
      border-left:5px solid red;
      transition: 1s;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid red;
      border-right:5px solid red;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      &:before,&:after{
        
        width:100%;
        height:100%;
        
      }
    }
  }
.container{
    padding-top:250px;
    padding-left:50px ;
    width: 40%;
}
.header-text{
    color: aliceblue;
    margin-top: 30px;
    word-wrap: break-word;
    padding-left: 0px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span{
    color:  #ff004f;
    font-size:80px 
}
.header-text h4{
    font-size: 40px;
}
.header-text h4 span{
    color: blue;
    font-size:30px ;
}

/* About */
#about{
    padding: 80px 50px;
    background-color: rgb(12, 12, 31);
}
.row{
display: flex;
justify-content: space-between;
flex-wrap:wrap;
}
.left-side{
width: 40%;
}
.left-side img{
width: 80%;
transition: 0.2s all ease-in-out;

}
.left-side img  {
    transform-origin: 40% 60%;
    transition: transform 5s, filter 3s ease-in-out;
    
    
}
.left-side:hover img{
    filter: brightness(100%);
  transform: scale(2);
}

.right-side{
width: 60%;

}
.sub-title{
   font-size: 60px;
   font-weight: 600;
   color: aliceblue;
   padding-left: 100px ;
   
   
}


.tab-title{
    display: flex;
    padding-top: 50px;
    
}
.tab-link{
    margin-right:60px ;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-link.active-title::after{
    width: 50%;
}

.tab-content ul li{
    color: #ff004f;
   
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    margin: 20px 0;
}
   
    

.tab-content ul li span {
    
    font-weight: 500;
    font-size: 20px;

}

.parent-skill{
    display: flex;
    flex-direction: row;
   margin-top: 150px;
    height: 100px;
    width: 100%;
    
}

.tab-content .skill-img  {
    font-size: 60px;
    margin: 20px;
}




.tab-content {
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/* End of About Section */

/* Projects */

#portfolio{
    padding-bottom: 80px;
}

.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-left: 150px;
    
}
.work{
    
    position: relative;
    overflow: hidden;
     
}
.work-img-login{
    height: 600px;
    width: 450px;
}
.work-img-calculator{
    height: 600px;
    width: 450px;
}
.work-img-amazoncol{
    height: 600px;
    width:  450px;
}
.work-img{
display: block;
transition: transform 0.5s;
}

.layer{
    width: 78%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#f3044f);
    
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s;
    text-align: center;

}
.layer h3{
    font-size: 2rem;
    color:rgb(237, 229, 229);
    font-weight: 700;
    margin-bottom: 20px;

}
.layer span{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 900;
    margin: 20px;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    padding: 5px;
    box-shadow: 5px 10px #000000;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.layer a i{
    color: #ff004f;
}

.work:hover img{
transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
.btn
{ 
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:5px solid #ff004f;
    padding-top:10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(252, 246, 246);
    
}
.btn:hover{
    border: 5px solid yellow;
    font-size: 2rem;
}


/*  Contacks */

#contack{
    padding-top:80px ;
    background-color: rgb(12, 12, 31);
}
#letconnetimg{
    width: 200px;
    padding-left:150px ;
    margin-top: 40px;
    border-radius: 100%;
}

.personal-info{
   padding-left: 150px;
}
.social-media{
    padding-left: 150px;
}
.left-contack{
width: 40%;

}

.left-contack p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}
.left-contack p i{
    color: #f3044f;
    margin-right: 20px;
    font-size: 50px;
}
.social-media{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size:50px ;
    margin-right: 20px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media a{
    margin-right: 20px;
    
}

.social-media a :hover{
   color: #ff004f;
   transform: translateY(-6px); 

}
.right-contack{
    width: 50%;
    align-items:center;
    
}
.right-contack p{
    margin-bottom: 20px;
}
.right-contack p i{
    font-size: 5rem;
    color: #ff004f;
}
.right-contack form{
    width: 100%;
    padding-right: 150px;
    
   
}
form input , form textarea{
    width: 50%;
    border:0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
.con-btn{
    background-color: #ff004f;
    color: aliceblue;
    
    width: fit-content;
    margin: 50px auto;
   
    border:5px solid #ff004f;
    padding-top:8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.2rem;}

    .download .con-btn{
        margin-left: 150px;
    }

    #sucess-message{color: #61b752;
    margin-top: -100px ;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color:#352e2e;
    color: white;
    text-align: center;
    
}
.copyright {
    margin-top: 50px;
    
    width: 100%;
    }
.copyright footer i{
    padding-top: 10px;
    font-size: 20px;
    color: #ff004f;
}
footer p{
   
    font-size: 30px;
   
}

/*--------------------CSS for small screen --------------*/
.fa-solid.fa-bars{display: none;}
.fa-solid.fa-xmark{display: none;}

@media screen and (max-width:600px) 

{   
    .fa-solid.fa-xmark{display: block;}

    *{
        max-width: 100%;
        overflow-x: hidden;
    }
    #header {
        background-image: url("./assert/smallscimg2.png");
        background-repeat: no-repeat;
        background-position-x:150% ;
       /* background-size: 221px 596px;*/
        background-size: contain;
        padding: 0;
        margin: 0;
        background-position: right;
        display: table;
        background-attachment: fixed;
       
    }
    .img_logo {display: none;}
    .img_logo1 {display: block;}
    
    .container{
        padding-top:20px;
        padding-left:38px ;
        width: 40%;
    }

    .header-text{
        margin-top: 231%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 10px;
    }
    .header-text h4 {
        font-size: 10px;
    }
    .header-text h4 span{
        font-size: 5px;
    }
    .header-text h1 span{
        color: red;
        font-size:25px
    }

    nav .fa-solid{display: block;
        font-size: 20px;
        /* padding-left: 40px;} */}
        nav .fa-solid.fa-bars{display: block;
        padding-left: 130px;}
        nav ul {
            background: #ff004f;
            position: fixed;
            top: 0;right:-500px;
            width: 200px;
            height: 100vh;
            padding-top:50px ;
            padding-right:60px;
            z-index: 3;
            margin-right: 185px;
            transition: right 0.5s;
        }
        nav ul li{margin-right:20px ;}
        nav ul li a {
            display: block;
            text-align: left;
            /* position:relative; */
            
            background:none;
            font-size:20px;
            
            
            &:after,&:before{border :0px solid #000000;}
            &:after{
              top:-1px;
              left:-1px;
              border-top:none;
              border-left:none;
              transition: 1s;
            }
            &:before{
              bottom:-1px;
              right:-1px;
              border-bottom:none;
              border-right:none;
            }

            nav ul .fa-solid {
                
                
                left: 25px;
                position: absolute;
                cursor: pointer;

            }
            
            
        }

        #about{
            padding: 40px 25px;
            display: table; }



        .left-side img{
           margin-top: 50px;
            max-width: 100%;
            height: 150px;
             transform: scale(2);
            
            }
        .left-side img  {
                transform-origin: 20% 30%;}
                
        .right-side{
                width: 50%;}
                
                            
            
            .tab-title{
                display: flex;
                flex-direction: column;
            }
                
                
            .sub-title{
                   font-size: 20px;
                   font-weight: 600;
                   color: aliceblue;
                   padding-left: 41px ;}
                   
            .right-side p{
                    margin-left: 40px;
                         }

            .tab-link{
                    margin-right:30px ;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
            }
            .tab-content ul li span {
    
                    font-weight: 400;
                    font-size: 10px;
                
            }
            .parent-skill{
                    display: flex;
                    flex-direction: column;
                    margin-top: 50px;
                     height: 200px;
                     max-width: 100%;
                     
             }

                        


             .tab-content .skill-img  {
                    font-size: 30px;
                    margin: 5px;
            }

            .work_list{
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                    grid-gap: 40px;
                    margin-top: 50px;
                    padding-left: 150px;}

                .work-img-login{
                    height: 250px;
                    width: 250px;
                }
                .work-img-calculator{
                    height: 250px;
                    width: 250px;
                }
                .work-img-amazoncol{
                    height: 250px;
                    width:  250px;
                }
                .work-img{
                display: block;
                transition: transform 0.5s;
                }
                
                .layer{
                    width: 100%;
                    height:0;
                    background: linear-gradient(rgba(0,0,0,0.6),#f3044f);
                    
                    position: absolute;
                    left:0;
                    bottom: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: height 0.5s;
                    text-align: center;
                
                }
                .layer h3{
                    font-size: 1.5rem;
                    color:rgb(237, 229, 229);
                    font-weight: 700;
                   
                    margin-bottom: 15px;
                
                }

                .layer span{
                    width: 100px;
                    height: 30px;
                    font-size: 15px;
                    font-weight: 900;
                    margin: 20px;
                    background-color: aliceblue;
                    color: black;
                    display: inline-block;
                    padding: 1.5px;
                    box-shadow: 5px 10px #000000;
                }

                .sub-title{
                    font-size: 50px;
                    font-weight: 600;
                    color: aliceblue;
                    padding-left: 100px ;
                    
                    
                 }

                 .row.rowsmall-sc{
                    display: inline-block;
                  
                }


                

                 #letconnetimg{
                    width: 100px;
                    padding-left:100px ;
                    margin-top: 30px;
                    border-radius: 100%;
                }
               
                .personal-info {
                    padding-left: 40px;
                    display: inline-block;

                 }
                 .personal-info p {display: flex;
                width: 100%;}

                 
                .social-media{
                     padding-left: 50px;}
                
                .left-contack{width: 100%;}
                .right-contack{width: 100%;}
                   
                
                    
                        
                 
                 .left-contack p{
                    margin-top: 40px;
                    margin-left: 20px;
                    font-size: 20px;
                    font-weight: 500;
                }
                .left-contack p i{
                    color: #f3044f;
                    margin-right: 20px;
                    font-size: 20px;
                }
                .social-media{
                    margin-top: 50px;
                    margin-bottom: 50px;
                    font-size:30px ;
                    margin-right: 20px;
                    color: #ababab;
                    display: flex;
                    transition: transform 0.5s;
                }
                .right-contack{
                    padding-left: 10px;
                    max-width: 100%;
                    align-items:center;
                    
                }
                .right-contack p{
                    margin-bottom: 20px;
                }
                .right-contack p i{
                    padding-top: 15px;
                    font-size: 2rem;
                    color: #ff004f;
                }
                .right-contack form{
                    width: 100%;
                    padding-right: 50px;
                    
                   
                }
                form input , form textarea{
                    width: 50%;
                    border:0;
                    outline: none;
                    background-color: #262626;
                    padding: 15px;
                    margin: 15px 0;
                    color: #fff;
                    font-size: 10px;
                    border-radius: 6px;}
                
                    
                

                         .download .con-btn{
                            
                            background-color: #ff004f;
                            color: aliceblue;
                            
                            width: fit-content;
                            margin-left: 20px;
                            margin-top: 20px;
                            border:5px solid #ff004f;
                            padding-top:10px;
                            padding-left: 20px;
                            padding-right: 40px;
                            padding-bottom: 10px;
                            text-decoration: none;
                            font-size: 1.2rem;}
      
                         
                .right-contack{
                    max-width: 100%;
                }

                .copyright footer i{
                    padding-top: 20px;
                    font-size: 30px;
                    color: #ff004f;
                }
                footer p{
                    font-size: 15px;
                }
                #sucess-message{color: #61b752;
                    margin-top: -100px ;}
                

                                                                      
}                                                      
            
            
    